<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true"
        android:allowBackup="true">
        <activity
            android:name=".trainer.TrainerActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".editor.EditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:exported="true" android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".editor.ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trainer.TrainerSettingsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PermActivity" />
        <activity
            android:name=".eximport.ExImportActivity"
            android:label="@string/title_activity_format"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>